# Neon PostgreSQL Connection String
# DATABASE_URL=postgresql+psycopg2://username:password@ep-sample-neon-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://neondb_owner:npg_Jph9g7bslRnk@ep-long-glitter-ay9vjbqr-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_ENV=development
API_PORT=8000
DEBUG=True
